<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width"/>
    <title>Open Reward</title>
</head>
<body>
<h1>Open Reward admin</h1>
<p>A custom build of the copiosis-rocket project with improvements</p>
<p>
    <a href="/users">Show users</a> &middot;
    <a href="/products">Show products</a> &middot;
    <a href="/transfers">Show transactions</a>
    <br>
    <a href="/adduser">Add user</a> &middot;
    <a href="/product">Add product</a> &middot;
    <b><a href="/transfer">Create transaction</a></b>
</p>
<form action="/transfer" method="post" accept-charset="utf-8">
    <table>
        <tr>
            <td>
                <label for="producer">Producer:</label>
            </td>
            <td>
                <select name="producer" id="producer" required autofocus>
                    {{#each users}}
                        <option value="{{id}}">#{{id}} {{name}} ({{nbr}})</option>
                    {{/each}}
                </select>
            </td>
        </tr>
        <tr>
            <td>
                <label for="consumer">Consumer:</label>
            </td>
            <td>
                <select name="consumer" id="consumer" required>
                    <option value="0">nobody/everybody</option>
                    {{#each users}}
                        <option value="{{id}}">#{{id}} {{name}} ({{nbr}})</option>
                    {{/each}}
                </select>
            </td>
        </tr>
        <tr>
            <td>
                <label for="product">Product:</label>
            </td>
            <td>
                <select name="product" id="product" required>
                    {{#each products}}
                        <option value="{{id}}">#{{id}} {{name}}</option>
                    {{/each}}
                </select>
            </td>
        </tr>
        <tr>
            <td>
                <label for="amount">Quantity:</label>
            </td>
            <td>
                <input type="number" name="amount" id="amount" value="1" min="0" step="1" required/>
            </td>
        </tr>
        <tr>
            <td>
                <label for="comment">Notes:</label>
            </td>
            <td>
                <textarea name="comment" id="comment" rows="3" style="width:100%;" oninput="autoExpand(this)"></textarea>
            </td>
        </tr>
        <tr>
            <td></td>
            <td>
                <input type="submit" value="Submit"/>
            </td>
        </tr>
    </table>
</form>
</body>
</html>
